.HIIT {
    color:#FF8263;
}

.Strength {
    color:#43C4E0;
}

.Walking {
    color: #DF9AC4;
}

.Cycling {
    color: #ED6868;
}

.Boxing {
    color: #25A9F2;
}

.Meditation {
    color: #7E8EE0;
}

.Running {
    color: #FF9C6B;
}

.Sculpt {
    color: #71D1BA;
}

.Stretch+Recovery {
    color: #80B2FF;
}

.Yoga {
    color: #FFAFAF;
}

.Other {
    color: #9494AF;
}