body {
    font-family: $text;
    font-size: 1em;
    line-height: 1.65;
    color: #ffffff;
    background: #000000;
    margin: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin:0 clamp(rem(24px), 4.166vw, rem(70px));
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: rem(60px);

    @include mobile {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: rem(12px);
    }
}