.reviews {

    &__content {
        grid-column: 2/12;
    }

    &__ticker {
        display:flex;
        margin-bottom:120px;
        
        p {            
            font-size: clamp(rem(60px), 5.952vw, rem(100px));
            line-height: 100%;
            margin: 0 72px;
        }
    }
}


.review {
    padding: rem(65px) 0 0 0;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 60px;
    display: grid;

    &__rating {
        grid-column: 1/3;
    }

    &__content {
        grid-column: 3/8;
    }

    &__meta {
        grid-column: 8/11;
        text-align: right;
        opacity:0.6;
    }

    &__title {
        font-family: $display-md;
    }

    p {
        font-size: clamp(rem(16px), 1.071vw, rem(18px));
        line-height: 160%;
    }
}


.review:after {
    content: '';
    width: 100%;
    border: 1px solid;
    grid-column: 1/11;
    opacity: 0.1;
}
