.text-breaker {

    &__inner {
        grid-column: 1/10;

        @include mobile {
            grid-column: 1/7;
        }
        
        p { 
            font-family: $display;
            font-size: clamp(rem(26px), 2.976vw, rem(50px));
            line-height: 110%;
            color: #7A7A7A;

            b{
                font-weight:400;
                color:#000;
            }
        }
        
    }
}

