.app-hero {
    position:relative;
    width: 100vw;
    height:100vh;

    &__container {
        position: absolute;
        bottom: rem(60px);
        left:0;
        right:0;
        z-index: 4;
    }

    &__text {
        grid-column:10/13;
        color:#fff;

        @include small-desktop {
            grid-column:8/13;
        }

        @include mobile {
            grid-column:1/13;
        }
    }

    &__title {
        font-size: rem(20px);
        line-height: 135%;
        letter-spacing: -0.01em;
        font-family: $display-md;
    }

    &__subtitle {
        padding-top:rem(8px);
        font-size: rem(15px);
        line-height: 21px;
        opacity:0.9;

    }

    &__images {
        position:relative;
        width: 100%;
        height:100%;
        overflow: hidden;
    }

    &__text-ticker {
        font-size: 23.80vw;
        line-height: 100%;
        position: absolute;
        top: 50%;
        left: -5vw;
        transform: translateY(-50%);
        z-index: 1;
        white-space: nowrap;
        color:#101010;
        mix-blend-mode: screen;
    }

    &__image {
        position:absolute;
        width:100%;

        &--back {
            top:0;
            left:0;
            right:0;
            z-index: 1;
            height:100%;
        }

        &--front {
            width:55vw;
            margin:auto;
            bottom:-10vw;
            z-index: 3;
            right: 0;
            left: 0;

            @include small-desktop {
                width: 55vw;
                margin: 0 0 0 8vw;
                bottom: -10vw;
                top:auto;
            }

            @include mobile {
                width:calc(100vw - 48px);
                margin:auto;
                bottom: auto;
                top:28vmin;


            }
        }
    }

    &__image-inner {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }


}